anthropic
beautifulsoup4
fastapi
firebase_admin
uvicorn
gunicorn
instructor
selenium
webdriver_manager
sqlalchemy
PyJWT
cloud-sql-python-connector
google-auth
google-auth-oauthlib
pg8000
starlette
sse-starlette